.startPagelayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffea55;
  width:100%;
}
.mbtiLogo {
  font-size:40px;font-weight: 600;
}
.mbtiStart {
  margin-top:10px;
}